@charset "utf-8";
/* CSS Document */

/***************************** COLORS **************************/





/**************************** INDEX PAGE CARDS **********************************/

.index-card-1 {
	
}

.index-card-1 a{
	margin-top:40%;
}

.index-card-1 p{
	top:50%; 
	width:90%;
}

.index-card-2 {
	
}

.index-card-2 a{
	margin-top:45%;
}

.index-card-2 p{
	top:50%;
    width:90%;	
}

/**************************** SERVICES PAGE CARDS *******************************/

.services-card-1 {
	
}

.services-card-1 a{
	margin-top:40%;
}

.services-card-1 p{
	top:50%;
	width:90%;
}

.services-card-2 {
	
}

.services-card-2 a{
	margin-top:40%;
}

.services-card-2 p{
	top:50%;
	width:90%;
}

/****************************** NAVIGATION STYLES ******************************/

#nav{
	background-color:#ffffff;
}

.collapse, nav {
	background-color:#ffffff;
}

.active{
	line-height: 35px;
	background-color: #dddbdc;
	border-color: #dddbdc;
	vertical-align: middle;
	margin: none;
	border-radius: 5px;
	border-width: 0px;
	height: 40px;
	border-style:solid;
}

/*********** mobile specific stylesheet ********/

@media screen and (min-width: 980px) /* Desktop */ {
    .jumbotron-fluid img {
		content: url("media/logo/headerlogo-large.png");
	}
	
	header,nav {
		width:87%;
	}
	
	nav a {
		font-size:1.1em;
	}
	
	.page-content {
		width:80%;
		margin-left:10%;
	}
	
	.card {
		width:45%;
		display:inline-block;
	}
	
	.card-header h3 {
		font-size:2.6em;
	}
	
	footer h6 {
		font-size:1.6em;
	}
	
	footer h3 {
		font-size:2.4em;
	}
	
	footer p {
		font-size:1.0em;
	}
	
	footer .card {
		width:100%;
		padding-top:0%;
	}
	
	footer, footer ul, footer .card {
		max-height:150px;
	}
	
	.index-card-1 a {
		margin-top:50%;
	}
	
	.index-card-2 a {
		margin-top:60%;
	}
	
	.services-card-2 a {
		margin-top:45%;
	}
	
	.pricing-card-1 {
		margin-left:15%;
	}
}

@media screen  and (max-width: 979px) /* Tablet */ {
	/*styles for cards on site*/
	
	
	
	
	.index-card-1 {
	
	}

	.index-card-1 a {
		margin-top:50%;
	}

	.index-card-1 p {
		top:50%; 
		width:80%;
	}

	.index-card-2 {
	
	}

	.index-card-2 a{
		margin-top:50%;
	}

	.index-card-2 p{
		top:50%; 
		width:80%;
	}

	.services-card-1 {
		
	}

	.services-card-1 a{
		margin-top:40%;
	}

	.services-card-1 p{
		top:50%; 
		left:10%; 
		width:80%;
	}

	.services-card-2 {
		
	}

	.services-card-2 a{
		margin-top:40%;
	}

	.services-card-2 p{
		top:50%; 
		left:10%; 
		width:80%;
	}

}

@media screen and (max-width: 500px) /* Mobile */ {
  .form-check-input{
		margin-left:5%;
	}
}