@charset "utf-8";
/* CSS Document */

/** bootstrap overrides */

.nav-item{
	line-height: 35px;
}




/** end of bootstrap overrides*/

.social-foot{
	font-size: 2.5em;
}

.text-left{
	text-align: left;
}

.fa{
	text-decoration: none;
}









/*styles for cards on site*/

.index-card-1 {
	
}

.index-card-1 a{
	margin-top:40%;
}

.index-card-1 p{
	top:50%; 
	width:90%;
}

.index-card-2 {
	
}

.index-card-2 a{
	margin-top:45%;
}

.index-card-2 p{
	top:50%;
    width:90%;	
}

.services-card-1 {
	
}

.services-card-1 a{
	margin-top:40%;
}

.services-card-1 p{
	top:50%;
	width:90%;
}

.services-card-2 {
	
}

.services-card-2 a{
	margin-top:40%;
}

.services-card-2 p{
	top:50%;
	width:90%;
}

.card{
	border:none;
	margin-bottom:5%;
}

.card-header, .card-footer {
	border:none;
	background-color:#ffffff;
}

.card-body img {
	border-radius:10px;
	
}

/*styles for nav*/

nav {
	
}

#nav{
<<<<<<< HEAD
	background-color:#ffffff; /* needs to be same color as navbar-nav BG color*/
=======
	background-color:#ffffff !important; /* needs to be same color as navbar-nav BG color*/
	padding: 0px;
>>>>>>> 2c0a5b3453dcfb76a3f24903ab43f2bb51e5b68d
	
}

.navbar-nav {
	margin-left: auto;
    margin-right: auto;
}

.collapse, nav {
	background-color:#ffffff;
}

.active{
	line-height: 35px;
	background-color: #dddbdc;
	border-color: #dddbdc;
	vertical-align: middle;
	margin: none;
	border-radius: 5px;
	border-width: 0px ;
	height: 40px;
	border-style: solid ;
}

/*styles for image overlay*/

.img-overlay {
            position: relative;
			color: blue;
			background-color:  rgba(0,0,0, 0.5);
			border-style: solid;
            border-color: gray;
			border-width: 1px;
			padding: 10px;
			border-radius: 15px;
			
}



/*********** mobile specific stylesheet ******

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

   **/

@media screen and (min-width: 992px) /* Desktop */ {
    .jumbotron-fluid img {
		
	}
	
	header,nav {
		
		width:87%;
	}
	
	nav a {
		
		font-size:1.1em;
	}
	
	.page-content {
		
		width:100%;
		
	}
	
	.card {
		width:45%;
		
		display:inline-block;
	}
	
	.card-header h3 {
		font-size:2.6em;
	}
	
	footer h6 {
		font-size:1.6em;
	}
	
	footer h3 {
		font-size:2.4em;
	}
	
	footer p {
		font-size:1.0em;
	}
	
	footer .card {
		width:100%;
		padding-top:0%;
	}
	
	footer, footer ul, footer .card {
		max-height:150px;
	}
	
	.index-card-1 a {
		margin-top:50%;
		
	}
	
	.index-card-2 a {
		margin-top:60%;
	}
	
	.services-card-2 a {
		margin-top:45%;
	}
	
	.pricing-card-1 {
		margin-left:15%;
	}
}

@media screen  and (max-width: 992px) /* Tablet */ {
	/*styles for cards on site*/
	
	.jumbotron-fluid img {
		
	}
	
	.jumbotron {
	background-color:#ffffff;
	background-image: url('media/logo/headerlogo2.png') !important;
	background-size: 85%; 
	background-position: bottom;
	background-repeat: no-repeat;
	height:500px;"
}


	.navbar-collapse li {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
	}
	
	
	.index-card-1 {
	
	}

	.index-card-1 a {
		margin-top:50%;
	}

	.index-card-1 p {
		top:50%; 
		width:80%;
	}

	.index-card-2 {
	
	}

	.index-card-2 a{
		margin-top:50%;
	}

	.index-card-2 p{
		top:50%; 
		width:80%;
	}

	.services-card-1 {
		
	}

	.services-card-1 a{
		margin-top:40%;
	}

	.services-card-1 p{
		top:50%; 
		left:10%; 
		width:80%;
	}

	.services-card-2 {
		
	}

	.services-card-2 a{
		margin-top:40%;
	}

	.services-card-2 p{
		top:50%; 
		left:10%; 
		width:80%;
	}

}

@media screen and (max-width: 576px) /* Mobile */ {
  .form-check-input{
		margin-left:5%;
	}
	
	.btn{
		top: -40px;
		z-index: 2000;
	
	}
	
	.jumbotron {
	background-color:#ffffff;
	background-image: url('media/logo/headerlogo2.png') !important;
	background-size: 85%; 
	background-position: bottom;
	background-repeat: no-repeat;
	height:400px;"
}
