@charset "utf-8";
/* CSS Document */

/*styles for headers on all pages*/
.jumbotron img {
	max-width:90%;
	margin-left:5%;
}

.jumbotron {
	background-color:#ffffff;
}

.jumbotron .container {
	height:400px;  
}


/* styles for footers on all pages*/

footer .list-group-item {
	border:none;
	margin:0;
	padding:0;
}

footer .list-group {
	margin-bottom:8%;
	margin-top:6%;
}

footer p {
	font-size:0.8em;
	margin-bottom:0;
}

/*styles for cards on site*/

.card{
	border:none;
}

.card-header {
	border:none;
	background-color:#ffffff;
}

.card-body img {
	border-radius:10px;
}

/*styles for nav*/


/*styles for image overlay*/

.img-overlay {
            position: relative;
			color: blue;
			background-color:  rgba(0, 0, 0, 0.5);
			border-style: solid;
            border-color: gray;
			border-width: 1px;
			padding: 10px;
			border-radius: 15px;
}

.img-overlay a {
	position:relative;
}

/*quote page styles*/

form {
	text-shadow: 0px 1px 1px #000;
	background: #d8e7ff;
	box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.2), 0 2px 20px -3px rgba(0, 0, 0, 0.19);
	border-radius: 15px;
	padding:5%;
}

input[type=text], input[type=email], select {
    margin:2%;
	margin-top:8%;
    padding: 8px 10px;
    display: inline-block;
    box-shadow: 3px 3px 3px  #aaa;
    border-radius: 10px;
}

/*animation delays*/

.delay-1 {
	animation-delay:.25s;
}

.delay-2 {
	animation-delay:.5s;
}

.delay-3 {
	animation-delay:.75s;
}

.delay-4 {
	animation-delay:1s;
}

/*********** mobile specific stylesheet ********/

@media screen and (max-width: 992px) {
	
	.form-check-input{
		margin-left:5%;
	}

	
}

